.vscode/**
.vscode-test/**
.husky/**
src/**
test/**
.gitignore
.eslintrc.cjs
.yarnrc
vsc-extension-quickstart.md
dprint.json
rollup.config.mjs
tsconfig-build.json
tsconfig-src.json
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.vscode-test.*
node_modules/**
