.vscode/**
.vscode-test/**
.husky/**
src/**
test/**
_src/**
_test/**
miniTest/**
scripts/**
xxx/**
.github/**
esbuild.config.js
eslint.config.js
pnpm-lock.yaml
pnpm-workspace.yaml
.gitignore
.eslintrc.cjs
.yarnrc
vsc-extension-quickstart.md
dprint.json
rollup.config.mjs
tsconfig-build.json
tsconfig-src.json
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.vscode-test.*
